.wrapper-insert {
    position: relative;
    width: 700px;
    height: 900px;
    /* height: 650px; */
    background-color: white;
    margin: 40px auto;
    border-radius: 12px;
}

.wrapper-insert .main-wrap {
    position: relative;
    left: 50px;
    top: 50px;
}

h2 {
    text-align: center;
    position: relative;
    top: 40px;
}

.insert-column {
    padding: 25px 0px;
}

.label-form {
    position: relative;
    top: 10px;
}

.column-form {
    float: right;
    position: relative;
    right: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    outline: none;
    width: 300px;
}

.column-form:focus {
    border: 1px solid #0099ff;
}

.wrapper-button {
    position: relative;
    top: 50px;
}

.button-sub {
    position: relative;
    right: 100px;
    width: 200px;
    float: right;
    padding: 15px 0px 15px 0px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #0099ff;
    color: white;
}

.button-sub:focus {
    border: 1px solid #0099ff;
}

.button-sub:hover {
    background-color: silver;
    cursor: pointer;
}