h2 {
    text-align: center;
    position: relative;
    top: 30px;
}

.wrapper-payment {
    position: relative;
    width: 700px;
    height: 1100px;
    /* height: 650px; */
    background-color: white;
    margin: 40px auto;
    border-radius: 12px;
}

.wrapper-payment .main-wrap {
    position: relative;
    left: 50px;
    top: 50px;
}

.payment-column {
    padding: 25px 0px;
}

.label-form {
    position: relative;
    top: 10px;
}

.column-form {
    float: right;
    position: relative;
    right: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    outline: none;
    width: 300px;
}

.column-form:focus {
    border: 1px solid #0099ff;
}

img {
    margin-left: 400px;
}

.btn-pesan {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #0099ff;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 100px;
}

.wrapper-button {
    position: relative;
    top: 50px;
}

.button-sub:focus {
    border: 1px solid #0099ff;
}

.button-sub:hover {
    background-color: silver;
    cursor: pointer;
}